{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block header %}
{% if user.is_authenticated %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    {{ user.username }} |
    <a href="{% url 'home' %}">Home</a> |
    <button type="submit">Log Out</button> |
    <a href="{% url 'password_change' %}">Password Change</a>
</form>

{% else %}
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock header %}

{% block content %}
<h2>Password Reset Complete!</h2>

<p>Your password has been set. You may go ahead and log in now.</p>
{% endblock %}