{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block header %}
            {% if user.is_authenticated %}

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {{ user.username }} |
            <a href="{% url 'home' %}">Home</a> |
            <button type="submit">Log Out</button> |
            <a href="{% url 'password_change' %}">Password Change</a>
        </form>

        {% else %}
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
        {% endblock header %}

{% block content %}

<h2>Reset Password</h2>

<p>Forgotten your password? Enter your email address below, 
    and we'll email instructions for setting a new one.</p>

<form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Reset Password</button>
</form>

{% endblock %}