{% extends "base.html" %}

{% block title %}Password Change{% endblock %}

{% block header %}
        {% if user.is_authenticated %}

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {{ user.username }} |
            <a href="{% url 'home' %}">Home</a> |
            <button type="submit">Log Out</button>
        </form>

        {% else %}
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        {% endblock header %}

{% block content %}

<h2>Password Change</h2>

<p>Please enter your old password, for security’s sake, 
    and then enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Change My Password</button>
</form>

{% endblock %}