{% extends "base.html" %}

{% block title %}Password Change Successfull{% endblock %}

{% block header %}
    {% if user.is_authenticated %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    {{ user.username }} |
    <a href="{% url 'home' %}">Home</a> |
    <button type="submit">Log Out</button>
</form>

{% else %}
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'login' %}">Log In</a> |
{% endif %}
{% endblock header %}

{% block content %}
<h2>Password change was successfull!</h2>
{% endblock %}