{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block header %}
    {% if user.is_authenticated %}

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    {{ user.username }} |
    <a href="{% url 'home' %}">Home</a> |
    <button type="submit">Log Out</button> |
    <a href="{% url 'password_change' %}">Password Change</a>
</form>

{% else %}
<a href="{% url 'home' %}">Home</a> |
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'password_reset' %}">Password Reset</a>
{% endif %}
{% endblock header %}

{% block content %}
<h2>Sign Up</h2>

<form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Sign Up</button>
</form>
{% endblock %}