<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Capstone{% endblock %}</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {{ user.username }} |
            <button type="submit">Log Out</button>
        </form>

        {% else %}
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>